<!-- Footer -->
<footer class="iq-footer" th:fragment="footer-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                Copyright 2020 <a href="#">NHASACHTV</a> All Rights Reserved.
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Appear JavaScript -->
    <script th:src="@{/js/jquery.appear.js}"></script>
    <!-- Countdown JavaScript -->
    <script th:src="@{/js/countdown.min.js}"></script>
    <!-- Counterup JavaScript -->
    <script th:src="@{/js/waypoints.min.js}"></script>
    <script th:src="@{/js/jquery.counterup.min.js}"></script>
    <!-- Wow JavaScript -->
    <script th:src="@{/js/wow.min.js}"></script>
    <!-- Apexcharts JavaScript -->
    <script th:src="@{/js/apexcharts.js}"></script>
    <!-- Slick JavaScript -->
    <script th:src="@{/js/slick.min.js}"></script>
    <!-- Select2 JavaScript -->
    <script th:src="@{/js/select2.min.js}"></script>
    <!-- Owl Carousel JavaScript -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- Magnific Popup JavaScript -->
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script th:src="@{/js/smooth-scrollbar.js}"></script>
    <!-- lottie JavaScript -->
    <script th:src="@{/js/lottie.js}"></script>
    <!-- am core JavaScript -->
    <script th:src="@{/js/core.js}"></script>
    <!-- am charts JavaScript -->
    <script th:src="@{/js/charts.js}"></script>
    <!-- am animated JavaScript -->
    <script th:src="@{/js/animated.js}"></script>
    <!-- am kelly JavaScript -->
    <script th:src="@{/js/kelly.js}"></script>
    <!-- am maps JavaScript -->
    <script th:src="@{/js/maps.js}"></script>
    <!-- am worldLow JavaScript -->
    <script th:src="@{/js/worldLow.js}"></script>
    <!-- Raphael-min JavaScript -->
    <script th:src="@{/js/raphael-min.js}"></script>
    <!-- Morris JavaScript -->
    <script th:src="@{/js/morris.js}"></script>
    <!-- Morris min JavaScript -->
    <script th:src="@{/js/morris.min.js}"></script>
    <!-- Flatpicker Js -->
    <script th:src="@{/js/flatpickr.js}"></script>
    <!-- Style Customizer -->
    <script th:src="@{/js/style-customizer.js}"></script>
    <!-- Chart Custom JavaScript -->
    <script th:src="@{/js/chart-custom.js}"></script>
    <!-- Custom JavaScript -->
    <script th:src="@{/js/custom.js}"></script>
</footer>
<!-- Footer END -->