<footer class="iq-footer" th:fragment="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="privacy-policy.html">Chính sách bảo mật</a></li>
                    <li class="list-inline-item"><a href="terms-of-service.html">Điều khoản sử dụng</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/js/jquery.appear.js}"></script>
    <script th:src="@{/js/countdown.min.js}"></script>
    <script th:src="@{/js/waypoints.min.js}"></script>
    <script th:src="@{/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/js/wow.min.js}"></script>
    <script th:src="@{/js/apexcharts.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>
    <script th:src="@{/js/select2.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/smooth-scrollbar.js}"></script>
    <script th:src="@{/js/lottie.js}"></script>
    <script th:src="@{/js/core.js}"></script>
    <script th:src="@{/js/charts.js}"></script>
    <script th:src="@{/js/animated.js}"></script>
    <script th:src="@{/js/kelly.js}"></script>
    <script th:src="@{/js/maps.js}"></script>
    <script th:src="@{/js/worldLow.js}"></script>
    <script th:src="@{/js/raphael-min.js}"></script>
    <script th:src="@{/js/morris.js}"></script>
    <script th:src="@{/js/morris.min.js}"></script>
    <script th:src="@{/js/flatpickr.js}"></script>
    <script th:src="@{/js/style-customizer.js}"></script>
    <script th:src="@{/js/chart-custom.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
</footer>
