<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Bookstore - Thêm Sách</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="/images/bg-03.jpg" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
      <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.min.css}">
      <!-- Typography CSS -->
      <link rel="stylesheet" th:href="@{/css/typography.css}">
      <!-- Style CSS -->
      <link rel="stylesheet" th:href="@{/css/style.css}">
      <!-- Responsive CSS -->
      <link rel="stylesheet" th:href="@{/css/responsive.css}">
   </head>
   <body>
      <div th:replace="common/header :: header"></div>

      <!-- Page Content  -->
      <div id="content-page" class="content-page">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <div class="iq-card">
                     <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                           <h4 class="card-title">Thêm sách</h4>
                        </div>
                     </div>
                     <div class="iq-card-body">
                        <form th:action="@{/admin/books/add-book/save}" th:object="${book}" method="post" enctype="multipart/form-data">
                           <div class="form-group">
                              <label>Tên sách:</label>
                              <input type="text" class="form-control" th:field="*{bookName}">
                              <div class="text-danger" th:if="${#fields.hasErrors('bookName')}"
                                   th:errors="*{bookName}"></div>
                           </div>
                           <div class="form-group">
                              <label>Danh mục sách:</label>
                              <select class="form-control" id="exampleFormControlSelect1" th:field="*{category_id}">
                                 <option th:each="value : ${list_category}" th:value="${value.id}" th:text="${value.categoryName}"></option>
                              </select>
                           </div>
                           <div class="form-group">
                              <label>Tác giả sách:</label>
                              <select class="form-control" id="exampleFormControlSelect2" th:field="*{author_id}">
                                 <option th:each="value : ${list_author}" th:value="${value.id}" th:text="${value.authorName}"></option>
                              </select>
                           </div>
                           <div class="form-group">
                              <label>Hình ảnh:</label>
                              <div class="custom-file">
                                 <input type="file" class="custom-file-input" accept="image/png, image/jpeg" name="imageFile" required>
                                 <label class="custom-file-label">Choose file</label>
                              </div>
                           </div>
                           <div class="form-group">
                              <label>Giá sách:</label>
                              <input type="text" class="form-control" th:field="*{price}">
                              <div class="text-danger" th:if="${#fields.hasErrors('price')}"
                                   th:errors="*{price}"></div>
                           </div>
                           <div class="form-group">
                              <label>Số lượng:</label> <br>
                              <input style="width: 50px" type="text" class="form-control" th:field="*{quantity}">
                              <div class="text-danger" th:if="${#fields.hasErrors('quantity')}"
                                   th:errors="*{quantity}"></div>
                           </div>
                           <div class="form-group">
                              <label>Mô tả:</label>
                              <textarea class="form-control" rows="4" th:field="*{description}"></textarea>
                              <div class="text-danger" th:if="${#fields.hasErrors('description')}"
                                   th:errors="*{description}"></div>
                           </div>
                           <button type="submit" class="btn btn-primary">Gửi</button>
                           <button type="reset" class="btn btn-danger" th:onclick="|javascript:window.history.back();|">Trở lại</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Page END -->

      <div th:replace="common/footer :: footer"></div>


   </body>
</html>