<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bookstore - Sửa Danh Mục</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/bg-03.jpg" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.min.css}">
    <!-- Typography CSS -->
    <link rel="stylesheet" th:href="@{/css/typography.css}">
    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
</head>
<body>

    <div th:replace="common/header :: header"></div>

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Sửa danh mục</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <form th:action="@{/admin/category/edit-category/update/{category_id}(category_id=${edit_category.category_id})}" method="post" th:object="${edit_category}">
                                <div class="form-group">
                                    <label>Tên danh mục:</label>
                                    <input type="text" class="form-control" th:field="*{categoryName}">
                                    <div class="text-danger" th:if="${#fields.hasErrors('categoryName')}"
                                         th:errors="*{categoryName}"></div>
                                </div>
                                <button type="submit" class="btn btn-primary">Gửi</button>
                                <button type="reset" class="btn btn-danger" th:onclick="|javascript:window.history.back();|">Trở lại</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wrapper END -->

    <div th:replace="common/footer :: footer"></div>

</body>
</html>